!.vscode/extensions.json
.DS_Store
.idea
.stylelintcache
.vscode/*
*.local
*.log
*.module.css.d.ts
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
